.container {
  width: 700px;
  position: relative;
  box-sizing: border-box;
  // border-box indica que vai ser encolhido algo dentro da div e não expandido fora dela
}

@media (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
